###############################################################
###DU-SystemMonitor###by NickDoh81 # nick@dirtyunicorns.com ###
###############################################################
###Starting Base#Conky Debian Stretch##by ilnanny# http://ilnanny.deviantart.com/ #

use_xft yes
xftfont mono:size=10
xftalpha 0.8
text_buffer_size 2048
update_interval 1
total_run_times 0
background no
own_window yes
own_window_transparent yes
own_window_type dock
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
double_buffer yes
minimum_size 275 1030
maximum_width 275
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders yes
stippled_borders 0
border_margin 1
border_width 2
default_color 910909
own_window_colour 000000
alignment top_left
gap_x 10
gap_y 10
no_buffers yes
uppercase no
cpu_avg_samples 2
net_avg_samples 1
temperature_unit celsius
override_utf8_locale yes
use_spacer none
own_window_argb_visual no
own_window_argb_value 204

TEXT
####################
##Background Image##
####################
${image bg-mint.png -p -0,-0 -s 280x1030}

###################
##TopBar and Logo##
###################
${voffset -5}${font Droid Sans Bold:pixelsize=20}${color C9BFC2}${alignr}${time %A} ${time %H:%M}   
${alignr}${time %d} ${time  %B} ${time %Y}   
${voffset 20}${image logo.png -p 70,70 -s  125x125}${font Droid Sans Bold:pixelsize=32} 
${color C9BFC2}${voffset 70}  Dirty Unicorns ${voffset -50}

###############
##System Info##
###############
${font Droid Sans Bold:pixelsize=14}${color white} System
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  ${nodename}:${alignr}Mint 18.3
${color}  ${sysname}:${alignr}${machine}
${color}  Kernel:${alignr}${kernel}
${color}  Uptime:${alignr}$uptime
${font Droid Sans Mono:pixelsize=11}  ${execi 1000 cat /proc/cpuinfo | grep 'model name' | sed -e 's/model name.*: //'| uniq}

################################
##Resources CPU/MEMORY/BATTERY##
################################
${font Droid Sans Bold:pixelsize=14}${color white} Resources
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  Core 1: ${cpu cpu1}%  ${freq_g 2}Ghz${alignr}${color f2312e}${cpubar cpu1 10,80}
${color}  Core 2: ${cpu cpu2}%  ${freq_g 2}Ghz${alignr}${color f2e12e}${cpubar cpu2 10,80}
${color}  Core 3: ${cpu cpu3}%  ${freq_g 2}Ghz${alignr}${color 2e79f2}${cpubar cpu3 10,80}
${color}  Core 4: ${cpu cpu4}%  ${freq_g 2}Ghz${alignr}${color 0ed135}${cpubar cpu4 10,80}
${color}  Core 5: ${cpu cpu5}%  ${freq_g 2}Ghz${alignr}${color f2312e}${cpubar cpu5 10,80}
${color}  Core 6: ${cpu cpu6}%  ${freq_g 2}Ghz${alignr}${color f2e12e}${cpubar cpu6 10,80}
${color}  Core 7: ${cpu cpu7}%  ${freq_g 2}Ghz${alignr}${color 2e79f2}${cpubar cpu7 10,80}
${color}  Core 8: ${cpu cpu8}%  ${freq_g 2}Ghz${alignr}${color 0ed135}${cpubar cpu8 10,80}
${color}  Mem:   ${mem}/${memmax}${alignr}${color f2312e}${membar 10,80}
${color}  Batt:    ${battery_percent BAT0}% ${alignr}${color f2e12e}${battery_bar 10,80 BAT0}

###################
##CPU Temperature##
###################
${font Droid Sans Bold:pixelsize=14}${color white} Temperature
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  CPU: ${execi 10 sensors | grep 'Core 0' | awk {'print $3'}}  ${execi 10 sensors | grep 'Core 1' | awk {'print $3'}}  ${execi 10 sensors | grep 'Core 2' | awk {'print $3'}}  ${execi 10 sensors | grep 'Core 3' | awk {'print $3'}}

################
##File Systems##
################
${font Droid Sans Bold:pixelsize=14}${color white} File Systems
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  Root   ${fs_used /}/${fs_size /}${alignr}${color 910909}${fs_bar 10,60 /}
${color}  Home  ${fs_used /home}/${fs_size /home}${alignr}${color 910909}${fs_bar 10,60 /home}
${color}  Ext  ${fs_used /media/nickdoh81/nsd}/${fs_size /media/nickdoh81/nsd}${alignr}${color 910909}${fs_bar 10,60 /media/nickdoh81/nsd}
${color}  Win10  ${fs_used /media/nickdoh81/6F5073F64C39ECE7}/${fs_size /media/nickdoh81/6F5073F64C39ECE7}${alignr}${color 910909}${fs_bar 10,60 /media/nickdoh81/6F5073F64C39ECE7}

#############
##Processes##
#############
${font Droid Sans Bold:pixelsize=14}${color white} Processes
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  ${top name 1}${alignr}${top cpu 1}%
${color}  ${top name 2}${alignr}${top cpu 2}%
${color}  ${top name 3}${alignr}${top cpu 3}%
${color}  ${top name 4}${alignr}${top cpu 4}%

#######################
##Application Ram Use##
#######################
${font Droid Sans Bold:pixelsize=14}${color white} Applications
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  ${top_mem name 1}${alignr}${top_mem mem_res 1}
${color}  ${top_mem name 2}${alignr}${top_mem mem_res 2}
${color}  ${top_mem name 3}${alignr}${top_mem mem_res 3}
${color}  ${top_mem name 4}${alignr}${top_mem mem_res 4}

#########################
##IP and Networks Usage##
#########################
${font Droid Sans Bold:pixelsize=14}${color white} Network/IP
 ${hr 1} ${font Droid Sans Mono:pixelsize=12}
${color}  Gateway address: ${alignr}${addr wlp2s0}
${color}  Public address: ${alignr}${execi 1000 wget http://checkip.dyndns.org/ -q -O - | grep -Eo '\<[[:digit:]]{1,3}(\.[[:digit:]]{1,3}){3}\>'}
${color}  Receiving ${downspeed wlp2s0}/s ${alignr}${color 910909}${downspeedgraph wlp2s0 12,100}
${color}  Total Received${alignr}${totaldown wlp2s0}
${color}  Sending   ${upspeed}/s ${alignr}${color 910909}${upspeedgraph wlp2s0 12,100}
${color}  Total Sent${alignr}${totalup wlp2s0}

