###DU-SystemMonitor###by NickDoh81 #nick@dirtyunicorns.com#
##Conky Debian Stretch##by ilnanny# http://ilnanny.deviantart.com/ #

use_xft yes
xftfont mono:size=10
xftalpha 0.8
text_buffer_size 2048
update_interval 1
total_run_times 0
own_window yes
own_window_transparent no
own_window_type dock
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
double_buffer yes
minimum_size 275 1030
maximum_width 275
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders yes
stippled_borders 0
border_margin 1
border_width 0
default_color 910202
own_window_colour 000000

alignment top_left

gap_x 10
gap_y 10
no_buffers yes
uppercase no
cpu_avg_samples 2
net_avg_samples 1
temperature_unit celsius
override_utf8_locale yes
use_spacer none
own_window_argb_visual yes
own_window_argb_value 204

TEXT
${font Droid Sans Bold:pixelsize=24}${color C9BFC2}${alignc}${time %A} ${time %H:%M}
${alignc}${time %d} ${time  %B} ${time %Y}
${voffset 20}${image logo.png -p 45,60 -s  180x180}${font Droid Sans Bold:pixelsize=32} 
${color C9BFC2}${voffset 150}  Dirty Unicorns ${voffset -10}

${font Droid Sans Mono:pixelsize=13}
${color grey}System${hr 2}
${color}${nodename}:${alignr}Mint 18.3
${color}${sysname}:${alignr}${machine}
${color}Kernel:${alignr}${kernel}
${color}Uptime:${alignr}$uptime

${color grey}Resources ${hr 2}
${color}${freq_g (1)}GHz CPU1 ${cpu cpu1}%${alignr}${color 0ed135}${cpubar cpu1 10,60}
${color}${freq_g (2)}GHz CPU2 ${cpu cpu2}%${alignr}${color 0ed135}${cpubar cpu2 10,60}
${color}${freq_g (3)}GHz CPU3 ${cpu cpu3}%${alignr}${color 0ed135}${cpubar cpu3 10,60}
${color}${freq_g (4)}GHz CPU4 ${cpu cpu4}%${alignr}${color 0ed135}${cpubar cpu4 10,60}
${color}${freq_g (5)}GHz CPU5 ${cpu cpu5}%${alignr}${color 0ed135}${cpubar cpu5 10,60}
${color}${freq_g (6)}GHz CPU6 ${cpu cpu6}%${alignr}${color 0ed135}${cpubar cpu6 10,60}
${color}${freq_g (7)}GHz CPU7 ${cpu cpu7}%${alignr}${color 0ed135}${cpubar cpu7 10,60}
${color}${freq_g (8)}GHz CPU8 ${cpu cpu8}%${alignr}${color 0ed135}${cpubar cpu8 10,60}
${color}Mem  ${mem}/${memmax}${alignr}${color f2e12e}${membar 10,60}
#${color}Swap ${swap}/${swapmax}${alignr}${color 2e79f2}${swapbar 10,60}#
${color}Receiving ${downspeedf wlan0} KB/s ${alignr}${color 2e79f2}${downspeedgraph wlan0 10,60}
${color}Total Received${alignr}${totaldown wlan0}
${color}Sending   ${upspeedf wlan0} KB/s ${alignr}${color 2e79f2}${upspeedgraph wlan0 10,60}
${color}Total Sent${alignr}${totalup wlan0}

${color grey}File Systems ${hr 2}
${color}Root      ${fs_used /}/${fs_size /}${alignr}${color f2312e}${fs_bar 10,60 /}
${color}Home   ${fs_used /home}/${fs_size /home}${alignr}${color f2312e}${fs_bar 10,60 /}
#${color}Dati      ${fs_used /media/user/partition}/${fs_size /media/user/partition}${alignr}${color f2312e}${fs_bar 10,60 /media/user/partition} #canche"user"" your name and "partition"your disk our partition #

${color grey}Processes ${hr 2}
${color}${top name 1}${alignr}${top cpu 1}%
${color}${top name 2}${alignr}${top cpu 2}%
${color}${top name 3}${alignr}${top cpu 3}%
${color}${top name 4}${alignr}${top cpu 4}%

${color grey}Applications ${hr 2}
${color}${top_mem name 1}${alignr}${top_mem mem_res 1}
${color}${top_mem name 2}${alignr}${top_mem mem_res 2}
${color}${top_mem name 3}${alignr}${top_mem mem_res 3}
${color}${top_mem name 4}${alignr}${top_mem mem_res 4}

${color grey}Temperature ${hr 2}
${color}CPU : ${alignr}${hwmon 2 temp 1}°C
${color}CPU : ${alignr}${hwmon 3 temp 1}°C
${color}GPU : ${alignr}${hwmon 1 temp 1}°C



